.columns{
    width: 25%;
    float: left;
}

* {
    box-sizing: border-box;
  }

.container{
    width: 100%;
    border: solid 1px black;
    border-left: solid 1px black; 
    border-bottom: solid 1px black;
}

@media screen and (max-width: 960px) {
    .columns{
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 640px) {
    .columns{
        width: 100%;
        float: left;
    }
}